<div style="margin-bottom: 120px">
  <div class="agency-about-hero">
    <section class="container">
      <div class="row">
        <div class="hero-text">
          <p class="customFadeInUp">
            HeliosCenter is a modern company offering flexible solutions in the sphere of working places and environment. Our services allow clients to commit full concentration on work and use their time efficiently.
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="agency-about-intro">
    <div class="container">
      <p>
        Our goal is to connect talented people who are the best at what they do — people who are motivated to get results, have high standards of quality and integrity, know how to adapt, possess an entrepreneurial spirit, and want to develop to their full potential.
      </p>
    </div>
  </div>

  <div class="agency-about-team">
    <div class="container">
      <h4>
        Our team
      </h4>
      <hr>
      <h3>
        Developers, designers, marketers, <br> full of creative people.
      </h3>
      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-github"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/1.jpg" />
          </div>
          <div class="name">
            Jack Williams
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/2.jpg" />
          </div>
          <div class="name">
            Laura Robinson
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-dribbble"></i>
              </a>
              <a href="#">
                <i class="fa fa-github"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/3.jpg" />
          </div>
          <div class="name">
            Benjamin John
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/4.jpg" />
          </div>
          <div class="name">
            Robert Dante Jr.
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/5.jpg" />
          </div>
          <div class="name">
            Phillip Warner
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-github"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/6.jpg" />
          </div>
          <div class="name">
            Erick Stevens
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/7.jpg" />
          </div>
          <div class="name">
            Andrea Lawrence
          </div>
        </div>
        <div class="col-md-3">
          <div class="member">
            <div class="mask">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </div>
            <img src="../assets/images/uifaces/8.jpg" />
          </div>
          <div class="name">
            John Cruise
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="agency-about-pics">
    <div id="photos"></div>
  </div>

  <div class="agency-about-cta">
    <div class="container">
      <h3>
        Want to work with us?
      </h3>

      <p>
        Have an idea for an awesome project? We'd love <br> to help make it real.
        <a href="#/contact-us">Get in touch</a>
      </p>
    </div>
  </div>
</div>
