<div>
  <div class="agency-alt-hero">
    <div class="container">
      <h3 class="customFadeInUp">
      Contact us.
    </h3>
    </div>
  </div>

  <div class="agency-alt-contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 style="color: #518dc3;">
          <i class="fa fa-envelope fa-3x"></i>
          Email
        </h4>
          <p>
            support@heliostech.fr
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #4fc4c5;">
          <i class="fa fa-phone fa-3x"></i>
          Tel:
        </h4>
          <p>
            +380 44 594 53 13
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #a34dd6;">
          <i class="fa fa-twitter fa-3x"></i>
          Twitter support
        </h4>
          <p>
            @heliossupport
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="agency-alt-map">
    <div class="container">
      <div class="location hidden-sm-down">
        <h5>Helioscenter</h5>
        <p>
          Khrestovyi Ln, 2a, Floor 7, office 704-705,
          Kiev city, Ukraine, 01010
        </p>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
