<div>
  <div class="agency-alt-hero">
    <div class="container">
      <h3 class="customFadeInUp">
      Contact us.
    </h3>
    </div>
  </div>

  <div class="agency-alt-contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 style="color: #518dc3;">
          <i class="fa fa-envelope fa-3x"></i>
          Email
        </h4>
          <p>
            info@spacial.com
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #4fc4c5;">
          <i class="fa fa-phone fa-3x"></i>
          Phone
        </h4>
          <p>
            01 800 555-3421
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #a34dd6;">
          <i class="fa fa-twitter fa-3x"></i>
          Twitter support
        </h4>
          <p>
            @spacialsupport
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="agency-alt-map">
    <div class="container">
      <div class="location hidden-sm-down">
        <h5>Core Headquarters</h5>
        <p>
          10th Main Street 12/3 4580, 10th Floor, San Francisco, Ca.
        </p>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
