<div style="margin-bottom: 120px">
  <div class="event-hero" style="background-image: url(${require('../assets/images/sunset.jpg')}); background-size: 1670px 650px">
    <div class="container">
      <h2 class="customFadeInUp">
      The Core Conference
    </h2>
    </div>
    <div class="tickets container">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="m-md-0">
          June 13th - 18th
        </p>
        <a href="#" class="btn-get-tickets">
        Get tickets
      </a>
        <p class="m-0">
          Portland, Oregon
        </p>
      </div>
    </div>
  </div>

  <div class="event-intro">
    <div class="container no-override">
      <div class="row">
        <div class="col-lg-5 pull-lg-7">
          <h1 class="event-title">
          Get inspired by the knowledge of world's best speakers
        </h1>
          <p>
            Core is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go. Pick the pages that describe your business the best and
            improve your users experience. Track your progress and learn along all the way.
          </p>
          <p>
            Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great.
          </p>
        </div>
        <div class="col-lg-7 push-lg-5">
          <img src="../assets/images/obed-hernandez.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
