<div>
  <div class="spacial-header">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <h1>
          Bootcamp
        </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../assets/images/devices/iphone-5.png" class="mobile-pic img-fluid hidden-sm-down">
        </div>
        <div class="col-md-6 left-col">
          <img src="../assets/images/icons/app-icon.png" class="mobile-icon">
          <h2>
          Analytics ABC
        </h2>
          <p>
            Helios Center organizes programming Boot Camps in Kiev. We really want talented students to get great education and start amazing career of developer/engineer. Best modern practices, projects worldwide, pro-team, financial reward - you will get even more
            than you want, if you complete the challenge.
          </p>
          <a href="#">
          Learn More
        </a>
        </div>
      </div>
    </section>
  </div>

  <div class="spacial-intro">
    <section class="clearfix">
      <h2>
        Start work as a junior DevOps engineer
    </h2>
      <p>
        Helios Center organizes programming Boot Camps in Kiev. We really want talented students to get great education and start amazing career of developer/engineer. Best modern practices, projects worldwide, pro-team, financial reward - you will get even more
        than you want, if you complete the challenge.
      </p>
      <img src="../assets/images/devices/devices-2.png" class="pic-left">
      <img src="../assets/images/devices/iphone-6.png" class="pic-right">
    </section>
  </div>

  <div class="spacial-features">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h2>Our Programm</h2>
            <p>
              Learn Linux, C programming, cloud automation and DevOps, Ruby and Python
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <img src="../assets/images/icons/spacial-devices.png">
            <h3>
            Week 1
          </h3>
            <p>
              Shell scripting and Linux from scratch
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <img src="../assets/images/icons/spacial-download.png">
            <h3>
            Week 2
          </h3>
            <p>
              Learn Linux system programming with C language
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <img src="../assets/images/icons/spacial-location.png">
            <h3>
              Week 3
          </h3>
            <p>
              Ruby development and DevOps scripting
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <img src="../assets/images/icons/spacial-settings.png">
            <h3>
            Week 4
          </h3>
            <p>
              Software development on an Open Source project
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
