<div>
  <div class="index-slider-header">
    <div id="spacial-slider" class="slider-component fxSideSwing">
      <ul class="itemwrap">
        <li class="slide slide--center current">
          <div class="container">
            <h2>
              New filters to enhance all your photos
            </h2>
            <a href="#" class="btn-shadow btn-shadow-lg btn-shadow-secondary">
              Get started now
            </a>
          </div>

          <div class="pic" style="background-image: url(${require('../assets/images/unsplash/photo-11.jpg')});">
          </div>
        </li>
        <li class="slide slide--right">
          <div class="container">
            <h2 class="customFadeInUp">
              All the designs in collaboration <br> with smart people
            </h2>
            <a href="#" class="btn-shadow btn-shadow-lg btn-shadow-dark customFadeInUp">
              Get started now
            </a>
          </div>

          <div class="pic" style="background-image: url(${require('../assets/images/unsplash/photo-13.jpg')});">
          </div>
        </li>
        <li class="slide slide--left">
          <div class="container">
            <h2 class="customFadeInUp">
              Your projects will look great <br> everywhere you go
            </h2>
            <a href="/" class="btn-shadow btn-shadow-lg btn-shadow-info customFadeInUp">
              Get started now
            </a>
          </div>

          <div class="pic" style="background-image: url(${require('../assets/images/unsplash/photo-12.jpg')});">
          </div>
        </li>
      </ul>
      <nav>
        <a class="prev" href="#">
          <span class="icon-wrap"></span>
        </a>
        <a class="next" href="#">
          <span class="icon-wrap"></span>
        </a>
      </nav>
    </div>
  </div>

  <div class="index-devices mobile-alt">
    <section class="clearfix">
      <img src="../assets/images/devices/devices-1.png" class="devices" />

      <h4>Looks great in any device</h4>
      <p>
      Core has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
      </p>
      <p>
      Core is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
      </p>
      <div class="icons">
        <i class="fa fa-desktop fa-3x"></i>
        <i class="fa fa-tablet fa-3x"></i>
        <i class="fa fa-mobile-phone fa-3x"></i>
      </div>
    </section>
  </div>

  <div class="agency-portfolio">
    <div class="container">
      <h2>
        Our latest projects
      </h2>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Landscape Trip</h3>
                <p>
                Blog About spacial trips
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/unsplash/photo-7.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>App Icon</h3>
                <p>
                New icon for mobile app
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/project/shot-3.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>App Icon</h3>
                <p>
                New mobile app icon for fighters
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/unsplash/photo-6.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Mobile Analytics</h3>
                <p>
                iOS mobile app for charts and stuff
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/unsplash/photo-9.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>App Food Icon</h3>
                <p>
                New icon for food mobile app
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/unsplash/photo-10.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>App Food Icon</h3>
                <p>
                New icon for food mobile app
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/project/shot-2.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Health App</h3>
                <p>
                Keep track of your health
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/project/shot-1.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>PSD Freebie</h3>
                <p>
                Free presentation mockups
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/unsplash/photo-8.jpg')});">
            </span>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="agency-project.html" class="project">
            <span class="mask">
              <span class="info">
                <h3>Grid Blog</h3>
                <p>
                Portfolio grid blog
                </p>
              </span>
              <span class="btn-see-project">
                See project
              </span>
            </span>
            <span class="pic" style="background-image:url(${require('../assets/images/unsplash/photo-4.jpg')});">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="index-slider-features">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="feature">
            <h3>
              <img src="../assets/images/icons/outline-color-bag.png" style="top:5px;" />

              Great design for everyone
            </h3>
            <p>
            Bring all your ideas together and make customizations faster and better than ever.
            </p>
            <a href="#">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <h3>
              <img src="../assets/images/icons/outline-color-support.png" />

              Offer support to your customers
            </h3>
            <p>
            You can share your knowledge with your customers and everybody find their answers.
            </p>
            <a href="#">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <h3>
              <img src="../assets/images/icons/outline-color-random.png" style="top:6px;" />

              Quality code for customization
            </h3>
            <p>
            Easily customize any part of your project for best results and quick great prototyping.
            </p>
            <a href="#">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <h3>
              <img src="../assets/images/icons/outline-color-pen.png" style="top:6px;" />

              Full responsiveness for any device
            </h3>
            <p>
            Showcase your work on any computer or mobile device and all screen sizes.
            </p>
            <a href="#">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacial-client-quotes">
    <section class="container">
      <h2>
        Used by the world's largest companies
      </h2>

      <div class="client-quotes">
        <div class="client-quote active">
          <div class="quote">
            "Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers just right out of the box!"
          </div>
          <div class="author">
            <span class="name">Jim Warner</span>
            <span class="role">CTO, Dribbble</span>
          </div>
        </div>
        <div class="client-quote">
          <div class="quote">
            "Bring all your ideas together and make customizations faster and better than ever. It works in all browsers and devices plus your clients can pay instantly, to improve their experience at all times anywhere they go."
          </div>
          <div class="author">
            <span class="name">Katia Stevens</span>
            <span class="role">Marketing Director, Twitter</span>
          </div>
        </div>
        <div class="client-quote">
          <div class="quote">
            "Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers just right out of the box!"
          </div>
          <div class="author">
            <span class="name">John Roberts</span>
            <span class="role">Product Designer, Github</span>
          </div>
        </div>
        <div class="client-quote">
          <div class="quote">
            "Bring all your ideas together and make customizations faster and better than ever. It works in all browsers and devices plus your clients can pay instantly, to improve their experience at all times anywhere they go."
          </div>
          <div class="author">
            <span class="name">Ana Jones</span>
            <span class="role">Designer, Kickstarter</span>
          </div>
        </div>
        <div class="client-quote">
          <div class="quote">
            "Easily customize any part of your project for best results and quick great prototyping. Showcase your work on any computer or mobile device and all screen sizes. Bring all your ideas together and make customizations faster and better than ever."
          </div>
          <div class="author">
            <span class="name">Robert Williams</span>
            <span class="role">Marketing, Atlassian</span>
          </div>
        </div>
      </div>

      <div class="client-pictures">
        <div class="client-picture active">
          <img src="../assets/images/uifaces/16.jpg">
        </div>
        <div class="client-picture">
          <img src="../assets/images/uifaces/13.jpg">
        </div>
        <div class="client-picture">
          <img src="../assets/images/uifaces/17.jpg">
        </div>
        <div class="client-picture">
          <img src="../assets/images/uifaces/11.jpg">
        </div>
        <div class="client-picture">
          <img src="../assets/images/uifaces/14.jpg">
        </div>
      </div>
    </section>
  </div>


    <!-- <div id="settings-module">
      <a href="#" id="open-settings">
        <i class="fa fa-cog"></i>
      </a>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="title">Slider Effect</div>
          <div class="options">
            <div class="float-left">
              <a href="#" data-option="slider-effect" data-class="fxSideSwing">Side Swing</a>
              <a href="#" data-option="slider-effect" data-class="fxSoftScale">Soft Scale</a>
              <a href="#" data-option="slider-effect" data-class="fxPressAway">Press Away</a>
              <a href="#" data-option="slider-effect" data-class="fxPushReveal">Push Reveal</a>
              <a href="#" data-option="slider-effect" data-class="fxVGrowth">Vertical Growth</a>
              <a href="#" data-option="slider-effect" data-class="fxArchiveMe">Archive Me</a>
              <a href="#" data-option="slider-effect" data-class="fxLetMeIn">Let Me In</a>
            </div>
            <div class="float-right">
              <a href="#" data-option="slider-effect" data-class="fxFortuneWheel">Fortune Wheel</a>
              <a href="#" data-option="slider-effect" data-class="fxSwipe">Swipe</a>
              <a href="#" data-option="slider-effect" data-class="fxSnapIn">Snap In</a>
              <a href="#" data-option="slider-effect" data-class="fxStickIt">Stick It</a>
              <a href="#" data-option="slider-effect" data-class="fxSlideBehind">Slide Behind</a>
              <a href="#" data-option="slider-effect" data-class="fxSoftPulse">Soft Pulse</a>
              <a href="#" data-option="slider-effect" data-class="fxCliffDiving">Cliff Diving</a>
            </div>
          </div>
        </nav>
      </div>
    </div> -->

    <!-- <script type="text/javascript">
      $(function () {
        var $settings_module = $("#settings-module"),
          $button = $("#open-settings", $settings_module),
          $options_slider_effect = $("[data-option='slider-effect']", $settings_module),
          $slider = $("#spacial-slider");
          $body = $("body, html");

        $button.click(function (e) {
          e.preventDefault();
          $settings_module.toggleClass("opened");
        });

        $body.click(function () {
          $settings_module.removeClass("opened");
        });

        $settings_module.click(function (e) {
          e.stopPropagation();
        });

        $options_slider_effect.click(function (e) {
          e.preventDefault();
          $slider.removeClass("fxSideSwing fxSoftScale fxPressAway fxPushReveal fxVGrowth fxArchiveMe fxLetMeIn fxFortuneWheel fxSwipe fxSnapIn fxStickIt fxSlideBehind fxSoftPulse fxCliffDiving")
          .addClass($(this).data("class"));

          window.navigate_slider("next");
        })
      });
    </script> -->
</div>
